* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', arial,
    sans-serif;
  background: #f7f7f7;
  color: #343537;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d5d7d9;
  border-radius: 8px;
}
